:root {
    /* font-family: 'Segoe ui', 'sans-serif';
    font-size: 14px;
    font-weight: 400; */
}

/* :root {
    --color-fg: green;
    --bg: rgba(132, 96, 143, 0.459);
    --bg: lightseagreen;
    background-color: var(--bg);
    color: var(--fg);
}

section,
nav {
    color: var(--color-fg);
}

button {

} */