.fancy-box-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.fancy-box {
    --box-dim: 200px;
    height: var(--box-dim);
    width: var(--box-dim);

    margin: 2rem;
    border-radius: 50px;
    position: relative;
    display: block;
}

.fancy-box::before {
    content: '';

    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background: inherit;
    border-radius: inherit;

    filter: blur(15px);
    opacity: 0;
    transition: opacity 300ms;
}

.fancy-box:hover::before {
    opacity: 1;
}

/* .fancy-box.gradient { */
/* background: linear-gradient(to bottom right, rgb(107, 183, 86), rgb(0, 143, 104)); */
/* } */

/* .fancy-box.gradient, */
.fancy-box {
    --color-1: rgb(107, 183, 86);
    --color-2: rgb(0, 143, 104);
    --grad-start: rgb(228, 202, 88);
    --grad-end: rgb(206, 50, 141);
    --outline-color: magenta;

    outline: 2px solid var(--outline-color);
    background: linear-gradient(to bottom left,
            var(--grad-start),
            var(--grad-end));

    &.box-1 {
        --color-1: rgb(107, 183, 86);
        --color-2: rgb(0, 143, 104);
        --outline-color: orange;
    }

    &.box-16 {
        --color-1: rgb(107, 183, 86);
        --color-2: rgb(0, 143, 104);
        --outline-color: steelblue;
        --grad-start: rgb(228, 202, 88);
        --grad-end: rgb(206, 50, 141);

        background: linear-gradient(to bottom right,
                var(--grad-start),
                var(--grad-end));
        background: none;

        box-shadow:
            20px 20px 0 #ffd117,
            -20px 20px 0 #5ac8ff7e,
            30px -30px 0 #ff0000,
            -40px -40px 0 #00ff00,
            40px 30px 0 #440880;
    }

    &.box-17 {
        --color-1: rgb(107, 183, 86);
        --color-2: rgb(0, 143, 104);
        --outline-color: steelblue;
        --grad-start: rgb(228, 202, 88);
        --grad-end: rgb(206, 50, 141);

        background: linear-gradient(to bottom right,
                var(--grad-start),
                var(--grad-end));
        background: none;

        box-shadow:
            10px 10px 0 #ffd11786,
            -10px 10px 0 #5ac8ff8f,
            15px -15px 0 #ff00007c,
            -20px -20px 0 #00ff0080,
            10px 25px 0 #44088073;
    }

    &.box-18 {
        --color-1: rgb(107, 183, 86);
        --color-2: rgb(0, 143, 104);
        --outline-color: steelblue;
        --grad-start: rgb(228, 202, 88);
        --grad-end: rgb(206, 50, 141);

        background: linear-gradient(to bottom right,
                var(--grad-start),
                var(--grad-end));
        background: none;

        box-shadow:
            10px 10px 0 #ffd11786,
            -10px 10px 0 #5ac8ff8f,
            15px -15px 0 #cc00ff7c,
            -20px -20px 0 #00ff0080,
            10px 25px 0 #44088073;
        filter: blur(8px) hue-rotate(.7turn);
        /* filter: contrast(100); */
        /* filter: blur(100px), hue-rotate(.7turn); */
    }

    &.box-19 {
        --color-1: rgb(107, 183, 86);
        --color-2: rgb(0, 143, 104);
        --outline-color: steelblue;
        --grad-start: rgb(228, 202, 88);
        --grad-end: rgb(206, 50, 141);

        background: linear-gradient(to bottom right,
                var(--grad-start),
                var(--grad-end));
        background: none;

        box-shadow:
            10px 10px 0 #ffd11786,
            -10px 10px 0 #5ac8ff8f,
            15px -15px 0 #cc00ff7c,
            -20px -20px 0 #00ff0080,
            10px 25px 0 #44088073;
        filter: blur(8px) hue-rotate(.7turn);
        filter: grayscale(50%) contrast(150%) blur(1.3px);
        /* filter: contrast(100); */
        /* filter: blur(100px), hue-rotate(.7turn); */

        &:hover {
            filter: blur(8px) hue-rotate(.7turn);

            transition: filter 900ms;
            outline: 3px solid green;
        }
    }


    &.box-5 {
        --color-1: rgb(107, 183, 86);
        --color-2: rgb(0, 143, 104);
        --outline-color: steelblue;
        --grad-start: rgb(228, 202, 88);
        --grad-end: rgb(206, 50, 141);

        background: linear-gradient(to bottom right,
                var(--grad-start),
                var(--grad-end));
        background: none;

        box-shadow:
            10px 10px 0 #ffd11775,
            -20px 20px 0 #5ac8ff7e,
            30px -30px 0 #ff0000,
            -40px -40px 0 #00ff00,
            40px 30px 0 #440880;
    }


    &.box-3 {
        background:
            linear-gradient(217deg, rgb(255 0 0 / 0.8), transparent 70.71%),
            linear-gradient(127deg, rgb(0 255 0 / 0.8), transparent 70.71%),
            linear-gradient(336deg, rgb(0 0 255 / 0.8), transparent 70.71%);
    }

    &.box-4 {
        --angle-1: 217deg;
        --angle-2: 127deg;
        --angle-3: 336deg;
        --grad-1: rgb(255, 0, 0);
        --grad-2: rgb(0, 255, 0);
        --grad-3: rgb(0, 0, 255);
        background:
            linear-gradient(var(--angle-1), var(--grad-1), transparent 70.71%),
            linear-gradient(var(--angle-2), var(--grad-2), transparent 70.71%),
            linear-gradient(var(--angle-3), var(--grad-3), transparent 70.71%);
    }

    &.box-5 {
        --angle-1: 217deg;
        --angle-2: 127deg;
        --angle-3: 336deg;
        --grad-1: rgb(43, 36, 107);
        --grad-2: rgb(0, 255, 0);
        --grad-3: rgb(0, 0, 255);

        background:
            linear-gradient(var(--angle-1), var(--grad-1), transparent 70.71%),
            linear-gradient(var(--angle-2), var(--grad-2), transparent 70.71%),
            linear-gradient(var(--angle-3), var(--grad-3), transparent 70.71%);
    }

    &.box-6 {
        --angle-1: 217deg;
        --angle-2: 127deg;
        --angle-3: 336deg;
        --angle-4: 40deg;
        --grad-1: rgb(43, 36, 107);
        --grad-2: rgb(0, 255, 0);
        --grad-2: rgb(79, 22, 212);
        --grad-3: rgb(0, 0, 255);

        background:
            linear-gradient(var(--angle-1), var(--grad-1), transparent 70.71%),
            linear-gradient(var(--angle-1), var(--grad-1), transparent 70.71%),
            linear-gradient(var(--angle-2), var(--grad-2), transparent 70.71%),
            linear-gradient(var(--angle-3), var(--grad-3), transparent 70.71%);
    }

    &.box-7 {
        --angle-1: 217deg;
        --angle-2: 127deg;
        --angle-3: 336deg;
        --angle-4: 40deg;
        --grad-1: rgb(43, 36, 107);
        --grad-2: rgb(0, 255, 0);
        --grad-2: rgb(79, 22, 212);
        --grad-3: rgb(0, 0, 255);
        --percent: 40.71%;

        background:
            linear-gradient(var(--angle-1), var(--grad-1), transparent var(--percent)),
            linear-gradient(var(--angle-1), var(--grad-1), transparent var(--percent)),
            linear-gradient(var(--angle-2), var(--grad-2), transparent var(--percent)),
            linear-gradient(var(--angle-3), var(--grad-3), transparent var(--percent));
    }

    &.box-8 {
        --angle-1: 217deg;
        --angle-2: 127deg;
        --angle-3: 336deg;
        --angle-4: 40deg;
        --grad-1: rgb(43, 36, 107);
        --grad-2: rgb(79, 22, 212);
        --grad-3: rgb(0, 0, 255);
        --percent: 80.71%;

        background:
            linear-gradient(var(--angle-1), var(--grad-1), transparent var(--percent)),
            linear-gradient(var(--angle-1), var(--grad-1), transparent var(--percent)),
            linear-gradient(var(--angle-2), var(--grad-2), transparent var(--percent)),
            linear-gradient(var(--angle-3), var(--grad-3), transparent var(--percent));
    }

    &.box-9 {
        --angle-1: 217deg;
        --angle-2: 127deg;
        --angle-3: 336deg;
        --angle-4: 40deg;
        --dest: chocolate;
        --dest: transparent;
        --grad-1: rgb(43, 36, 107);
        --grad-2: rgb(79, 22, 212);
        --grad-2: rgb(0, 255, 0);
        --grad-3: rgb(0, 0, 255);
        --percent: 80.71%;

        background:
            linear-gradient(var(--angle-1), var(--grad-1), var(--dest) var(--percent)),
            linear-gradient(var(--angle-1), var(--grad-1), var(--dest) var(--percent)),
            linear-gradient(var(--angle-2), var(--grad-2), var(--dest) var(--percent)),
            linear-gradient(var(--angle-3), var(--grad-3), var(--dest) var(--percent));
    }

    &.box-10 {
        --angle-1: 217deg;
        --angle-2: 127deg;
        --angle-3: 336deg;
        --angle-4: 40deg;
        --dest: transparent;
        --dest: salmon;
        --grad-1: rgb(43, 36, 107);
        --grad-2: rgb(79, 22, 212);
        --grad-2: rgb(0, 255, 0);
        --grad-3: rgb(0, 0, 255);
        --percent: 99.71%;

        background:
            linear-gradient(var(--angle-1), var(--grad-1), var(--dest) var(--percent)),
            linear-gradient(var(--angle-1), var(--grad-1), var(--dest) var(--percent)),
            linear-gradient(var(--angle-2), var(--grad-2), var(--dest) var(--percent)),
            linear-gradient(var(--angle-3), var(--grad-3), var(--dest) var(--percent));
    }

    &.box-11 {
        --angle-1: 217deg;
        --angle-2: 127deg;
        --angle-3: 336deg;
        --grad-1: lch(53.23% 104.58 40);
        --grad-2: lch(87.74% 119.78 136.02);
        --grad-3: lch(32.3% 133.82 306.29);
        --grad-1: lch(54.71% 83.9 9.22 / 0.397);
        --grad-2: lch(54.71% 83.9 9.22 / 0.397);
        --grad-3: lch(54.71% 83.9 9.22 / 0.397);
        --grad-3: lch(2.3% 133.82 306.29);
        background:
            linear-gradient(var(--angle-1), var(--grad-1), rgba(179, 123, 243, 0.452) 71%),
            linear-gradient(var(--angle-2), var(--grad-2), green 71%),
            linear-gradient(var(--angle-3), var(--grad-3), green 71%);
    }

    & > span {
        color: black;
        /* font-size: 2rem; */
        font-size: 0.9rem;
        margin-inline: auto;
        margin-block: 100px;
        opacity: .3;
    }

    & > span:first-of-type {
        font-weight: bold;
        font-size: 1.5rem;
    }

    & > p {
        color: black;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        opacity: .3;
        transition: opacity 300ms;
    }

    & > p:hover {
        opacity: 1.0;
    }
}

.fancy-box > span:hover {
    opacity: 1;
}

.fancy-box.gradient > span {
    /* z-index: 10; */
    position: relative;
    border: 0;
    /* outline: 0; */
    /* outline: 3px solid magenta; */
    /* margin-block: 1ch; */
    /* margin-inline: 1ch; */
    width: 300px;
    margin: 300px 10px;
    transition: opacity 300ms;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* margin-block: auto; */
}


.fancy-box.shaped {
    background: url('https://d33wubrfki0l68.cloudfront.net/4e5626a0b7db6b84c0b51f1c0cfd56490fc19b74/7a5ad/images/logo-fancy.svg');
    background-size: cover;
    width: 30%;
    outline: 2px solid chocolate;
}